In [23]:
import pandas as pd
import re
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import nltk
from nltk import pos_tag
from nltk import tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
import matplotlib.pyplot as plt
import string
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.metrics import accuracy_score

In [24]:
reviews_df = pd.read_csv("HairSalons_reviews_cloud_export_17427.csv")

In [25]:
reviews_df.head()

,Review,Page_Title
0,Love this salon! I was referred over by two of...,Urban Betty - 128 Photos & 537 Reviews - Hair ...
1,Came in for a summer haircut since my hair was...,Urban Betty - 128 Photos & 537 Reviews - Hair ...
2,I recently moved and have been looking for a g...,Urban Betty - 128 Photos & 537 Reviews - Hair ...
3,Y'all stop what you are doing right now and go...,Urban Betty - 128 Photos & 537 Reviews - Hair ...
4,"Love, love, love this place! I saw Holly and s...",Urban Betty - 128 Photos & 537 Reviews - Hair ...

In [26]:
def get_salon_name(row):
    page_title = row["Page_Title"].split(" - ") # split page title by the dash
    return page_title[0] # The salon name is the first of the split

In [27]:
reviews_df["Title"] = reviews_df.apply(get_salon_name, axis=1)

In [28]:
reviews_df.head(5)

,Review,Page_Title,Title
0,Love this salon! I was referred over by two of...,Urban Betty - 128 Photos & 537 Reviews - Hair ...,Urban Betty
1,Came in for a summer haircut since my hair was...,Urban Betty - 128 Photos & 537 Reviews - Hair ...,Urban Betty
2,I recently moved and have been looking for a g...,Urban Betty - 128 Photos & 537 Reviews - Hair ...,Urban Betty
3,Y'all stop what you are doing right now and go...,Urban Betty - 128 Photos & 537 Reviews - Hair ...,Urban Betty
4,"Love, love, love this place! I saw Holly and s...",Urban Betty - 128 Photos & 537 Reviews - Hair ...,Urban Betty

Reshape into a newer, cleaner dataframe to load to the database

In [29]:
reviews_clean = reviews_df.copy()
reviews_clean.drop(["Page_Title"], axis=1, inplace = True)
reviews_clean.drop_duplicates(inplace = True)
reviews_clean.shape

(16111, 2)

In [30]:
# clean up some sentences
def fix_up_punctuation(text):
    fixed_period = re.sub(r'\.(?=[a-zA-Z])', '. ', re.sub(r' +', ' ', text))
    fixed_question = re.sub(r'\?(?=[a-zA-Z])', '? ', re.sub(r' +', ' ', fixed_period))
    fixed_exclamation = re.sub(r'\!(?=[a-zA-Z])', '! ', re.sub(r' +', ' ', fixed_question))
    return fixed_exclamation

def get_sentiment(text):
    sentiment = SentimentIntensityAnalyzer() #### calling Intensity Analyzer
    compound = sentiment.polarity_scores(text)['compound']  ### calling the 'compound' score for the "text" entered
    #if compound > 0:
    #    return 1  ## positive
    #else:
    #    return 0 ## negative
    #else:
        #return "Neutral"     
    #print(compound)
    return compound

In [45]:
reviews_clean['Review'] = reviews_clean['Review'].apply(lambda x: fix_up_punctuation(x))
reviews_clean['sentiment_vader'] = reviews_clean['Review'].apply(get_sentiment) ### in the columns of "imdb"
reviews_clean.head()

,Review,Title,sentiment_vader
0,Love this salon! I was referred over by two of...,Urban Betty,0.9746
1,Came in for a summer haircut since my hair was...,Urban Betty,0.9560
2,I recently moved and have been looking for a g...,Urban Betty,-0.9035
3,Y'all stop what you are doing right now and go...,Urban Betty,0.9911
4,"Love, love, love this place! I saw Holly and s...",Urban Betty,0.9844

Once all the data is put into a pandas dataframe, convert that to a SQL database

In [46]:
f=open("db.txt", "r")
contents=0
if not(contents):
    contents = f.read()
username = contents.split("\n")[0]
password = contents.split("\n")[1]
dbname = 'reviews_db'

In [47]:
engine = create_engine('postgres://%s:%s@localhost/%s'%(username,password, dbname))

In [48]:
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [49]:
reviews_clean.to_sql('reviews_data_table', engine, if_exists='replace')

Check to make sure the pandas dataframe made it to the database correctly

In [50]:
con = None
con = psycopg2.connect(database = dbname, user = username, password = password, port=5432, host= "/var/run/postgresql/")

# query:
sql_query = """
SELECT * FROM reviews_data_table;
"""
review_data_from_sql = pd.read_sql_query(sql_query,con)
con.close()
review_data_from_sql.head()

,index,Review,Title,sentiment_vader
0,0,Love this salon! I was referred over by two of...,Urban Betty,0.9746
1,1,Came in for a summer haircut since my hair was...,Urban Betty,0.9560
2,2,I recently moved and have been looking for a g...,Urban Betty,-0.9035
3,3,Y'all stop what you are doing right now and go...,Urban Betty,0.9911
4,4,"Love, love, love this place! I saw Holly and s...",Urban Betty,0.9844

In [68]:
review_data_from_sql.iloc[1][2]

'Urban Betty'